<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T 4.3 Listado de centros</title>
  </head>

  <body>
    <h1>{{ title }}</h1>
    <div class="contenedor">
      <div class="cuadro-sombra">
        <h2>Listado de centros:</h2>
        <ul class="lista-centros">
          <li *ngFor="let centro of listadoCentro; else: noCentros">
            {{ centro }}
          </li>
        </ul>
        <ng-template #noCentros>
          <p>No hay centros educativos</p>
        </ng-template>
        <div class="acciones">
          <button class="btn-class-name" (click)="eliminarCentro()">
            <span class="back"></span>
            <span class="front"></span>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
