body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: #e6f7f8;
  margin: 0;
  color: #333;
}

.contenedor {
  max-width: 400px;
  margin: auto;
  background-color: #e8ffd4;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cuadro-sombra {
  padding: 16px;
  border: 1px solid #cce7b0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #f6ffeb;
}

.lista-centros {
  list-style: none;
  height: 200px;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  border: 1px solid #bcd9c5;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 8px;
}

.lista-centros li {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
  background-color: #f9fff5;
  color: #333;
}

.lista-centros li:nth-child(odd) {
  background-color: #eefce7;
}

.lista-centros li:last-child {
  border-bottom: none;
}

.acciones {
  text-align: center;
  margin-top: 16px;
}

.btn-class-name {
  --primary: 255, 90, 120;
  --secondary: 150, 50, 60;
  width: 60px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  outline: 10px solid rgb(var(--primary), .5);
  border-radius: 100%;
  position: relative;
  transition: .3s;
}

.btn-class-name .back {
  background: rgb(var(--secondary));
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.btn-class-name .front {
  background: linear-gradient(0deg, rgba(var(--primary), .6) 20%, rgba(var(--primary)) 50%);
  box-shadow: 0 .5em 1em -0.2em rgba(var(--secondary), .5);
  border-radius: 100%;
  position: absolute;
  border: 1px solid rgb(var(--secondary));
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: inherit;
  transform: translateY(-15%);
  transition: .15s;
  color: rgb(var(--secondary));
}

.btn-class-name:active .front {
  transform: translateY(0%);
  box-shadow: 0 0;
}
