<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="card">
    <div class="card__img">
      <!-- Puede ir cualquier imagen de fondo si se necesita -->
    </div>

    <!-- Avatar del personaje, la imagen se actualiza dinámicamente -->
    <div class="card__avatar">
      <img [src]="logo" alt="Imagen del personaje" />
    </div>

    <div class="card__title">Nombre: {{ nombreHeroe() }}</div>
    <div class="card__subtitle">Edad: {{ edad }}</div>

    <div class="card__wrapper">
      <button class="card__btn" (click)="cambiarNombre(); actualizarImagen()">Cambiar nombre</button>
      <button class="card__btn card__btn-solid" (click)="cambiarEdad()">Cambiar Edad</button>
      <button class="card__btn" (click)="resetear(); actualizarImagen()">Resetear</button>
    </div>
  </div>
</body>
</html>
