.grid-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 255, 188);

}

.item1 {
  text-align: center;
  align-items: center;
  background-color: bisque;
  padding: 20px;
}


button {
  margin-top: 10px;
}

body{
  height: 300px;
}
h1{
  text-align: center;
  font-family: fantasy;
}
