<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1>{{ title }}: Mis pruebas</h1>
    <router-outlet />
    <app-listado-centros></app-listado-centros>
    <app-centro-educativo></app-centro-educativo>
    <app-contador></app-contador>
    <app-heroes-heroe></app-heroes-heroe>
    <app-lista></app-lista>
    <br>
    <app-dbz-main-page></app-dbz-main-page>

  </body>
</html>
