<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="col">
    <h4>Añadir Personaje</h4>
    <form class="row" (ngSubmit)="addPersonaje()">
      <input type="text" [(ngModel)]="personaje.nombre" name="nombre" class="form-control-mb-2" placeholder="Nombre">
      <input type="text" class="form-control-mb-2" placeholder="Poder">
      <br>
      <button type="submit" class="btn btn-primary" (click)="addPersonaje()">Agregar</button>
      <pre>{{ personaje | json }}</pre>

    </form>

  </div>
</body>

</html>
