<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>T4.1_Contador</title>
</head>
<body>
  <h1>{{ title }}</h1>
  <div class="contenedor">
    <div class="cuadro-sombra">
      <h2>Contador: {{ contador }}</h2>
      <button class="btn" (click)="incrementar()">+</button>
      <button class="btn" (click)="decrementar()">-</button>
      <button class="btn" (click)="resetear()">reset</button>
    </div>
  </div>
</body>
